<div>
  <% for(i in data){ %>
  <% item = data[i] %>
  <div class="bkWMgd">
    <a href="file://<%= item.url %>" target="_blank" ><h1 style="font-size: 18px;"><%= item.title %></h1></a>
    <h3 style="font-size: 12px"><%= item.url %></h3>
  <p class="st" style="font-size: 13px;"><%= item.content %></p>
  </div>
  <% } %>
</div>